<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> css}}
</head>

<body>
  <!-- #TODO Memory Care -->
  {{> header}}
  <h1>Memory Care</h1>
  {{> scripts}}
  {{> footer}}
</body>

</html>