<div class="container-fluid">
  <div class="row bg-carefield text-white">
    <div class="container">
      <div class="row">
        <!-- #TODO Fix facebook logo layout for mobile -->
        <div class="col-sm-1">
          <a target="_blank" href="https://www.facebook.com/carefieldpleasanton"><img class="img-fluid m-2"
              style="max-height:50px;" src="img/f_logo_RGB-White_100.png" /></a>
        </div>
        <div class="col-sm-11 align-self-center">
          <p class="h5 text-right d-block align-middle">Call to Schedule Your Tour Today! 925-461-8409</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Fix Navbar for mobile -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img class="img-fluid" src="img/carefield-pleasanton-logo.png"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    The Community
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/photos">Photo Gallery</a>
                    <a class="dropdown-item" href="#">Floorplans</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Memory Care</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Events &amp; Activities</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>